body {
    margin: 50px;
}

h1 {
   display: grid;
   justify-content: center; 
}

nav  {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

nav ul {
    display: flex;
    grid-gap: 20px;
    justify-content: space-between;
    
}

h3 {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}
