body {
    margin: 50px;
}

h1 {
    display: flex;
    justify-content: center; 
}

nav  {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

h3 {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}
