body {
    color: black;
    background-color: rgb(228, 239, 233);
    font-family: 'Tenor Sans';
}

h1 {
    font-family: 'Julius Sans One';
    font-size: 40px;
    color: rgb(75, 4, 75);
}

span {
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    padding: 0;
}